<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="js/externals.js"></script>
</head>
<body>
欢迎 public / index / index.ejs 就
<script src="index/js/index.bundle.js"></script>
</body>
</html>
